/*
// global variables
*/
$base-unit:                              10px;

$screen-xs-min:                          0 !default;
$screen-sm-min:                          576px !default;
$screen-md-min:                          768px !default;
$screen-lg-min:                          1200px !default;
$screen-xl-min:                          1500px !default;
$screen-xxl-min:                         1800px !default;

// grid
$grid-columns:                           12 !default;
$grid-gutter-width:                      25px !default;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: $screen-xs-min,
  // Small screen / phone
  sm: $screen-sm-min,
  // Medium screen / tablet
  md: $screen-md-min,
  // Large screen / desktop
  lg: $screen-lg-min,
  // Extra large screen / wide desktop
  xl: $screen-xl-min,
  // Jumbotron
  xxl: $screen-xxl-min
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// fonts
$font-primary:                           "'America Regular Web', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-primary-italic:                    "'America Regular Italic Web', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-primary-heavy:                     $font-primary-italic;
$font-secondary:                         "'Super Display Light Web', 'Times New Roman'";
$font-secondary-heavy:                   "'Super Display Super Web', 'Times New Roman'";
$font-tertiary:                          "'America Mono Regular Web', Courier";
$font-tertiary-italic:                   "'America Mono Regular Italic Web', Courier";

// type sizes
$text-base:                              20px !default;
$text-xxs:                               12px !default;
$text-xs:                                15px !default;
$text-sm:                                $text-base !default;
$text-md:                                25px !default;
$text-lg:                                50px !default;
$text-xl:                                75px !default;
$text-xxl:                               100px !default;

// mobile sizes
$text-xs-xxs:                            13px !default;
$text-xs-xs:                             $text-base !default;
$text-xs-sm:                             30px !default;
$text-xs-md:                             40px !default;
$text-xs-lg:                             60px !default;
$text-xs-xl:                             70px !default;
$text-xs-xxl:                            80px !default;

// variable type sizes
$text-v-base:                            2vw;
$text-v-xs:                              6vw;
$text-v-sm:                              8vw;
$text-v-md:                              $text-v-base;
$text-v-lg:                              10vw;
$text-v-xl:                              12vw;

// line height
$text-line-base:                         1.0;
$text-line-xs:                           0.9 !default;
$text-line-sm:                           $text-line-base !default;
$text-line-md:                           1.25 !default;
$text-line-lg:                           1.5 !default;
$text-line-xl:                           2.0 !default;

// letterspacing
$text-letter-base:                       0;
$text-letter-xs:                         -.01em;
$text-letter-sm:                         $text-letter-base;
$text-letter-md:                         .03em;
$text-letter-lg:                         .05em;
$text-letter-xl:                         .1em;

// spacing
$space-base:                             25px;
$space-xxs:                              5px;
$space-xs:                               10px !default;
$space-sm:                               $space-base !default;
$space-md:                               50px !default;
$space-lg:                               75px !default;
$space-xl:                               100px !default;
$space-xxl:                              200px !default;

// spacing – new (Bootstrap)
// override bootstrap spacers
// $spacer:               25px !default;
// $spacer-1:             5px;
// $spacer-2:             10px;
// $spacer-3:             25px;
// $spacer-4:             50px;
// $spacer-5:             75px;
// $spacer-6:             100px;

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($space-xxs),
  2: ($space-xs),
  3: ($space-sm),
  4: ($space-md),
  5: ($space-lg),
  6: ($space-xl),
  7: ($space-xxl)
), $spacers);

// color
$color-base:                             #000000;
$color-brand:                            #ffeb0b;
$color-brand-secondary:                  green;
$color-gray:                             #e3e7e1;
$color-dark:                             #000000;
$color-mid:                              gray;
$color-light:                            #ffffff;
$color-disabled:                         $color-gray;
$color-alert:                            red;

// borders
$border-base:                            1px solid $color-base;
$border-sm:                              $border-base;
$border-md:                              2px solid $color-base;
$border-lg:                              5px solid $color-base;

/*
// project variables
*/
$image-filepath:                         "_assets/images/";

$t-color-children:                       "p, li, a, h1, h2, h3, h4, h5, h6, span";

$gutter:                                 $space-base;
$layout-outer:                           $gutter * 2;
$nav-height:                             $space-xl;

/*
// imports
*/
@import "_lib/bootstrap/bootstrap";
@import '_lib/v0/v0';

@import 'scss/tests';
@import 'scss/mixins';
@import 'scss/loader';
@import 'scss/cursors';
@import 'scss/fonts';
@import 'scss/type';
@import 'scss/color';
@import 'scss/media';
@import 'scss/layout';
@import 'scss/nav';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  @include cursor-default;

  .touch & {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }
}

.sv-badge {
  display: none !important;
}

::selection {
  background: $color-mid;
}
