---
layout: home
title: Curriculum
permalink: /curriculum/
filter: "Curriculum"
filter-class: "curriculum"
---

{% include _paragraphs.html page="curriculum" %}

<hr>

{% for course in site.data.curriculum %}

  <h1>{{ course[1].title }}</h1>

  {% for c in course[1].courses %}

    <div class="row listing listing-curriculum">
      <div class="col-12 col-sm-3">
        <h6><div>{{ c.number }}</div><div>{{ c.credits }}</div></h6>
      </div>
      <div class="col-11">
          <h3>{{ c.title }}</h3>
      </div>
      <div class="ui-arrow"></div>
      <div class="col-12 col-sm-9 offset-sm-3 listing-description">
          {{ c.description | markdownify }}
          <p><a href="{{ c.url }}">{{ c.url-title }}</a></p>
      </div>
    </div>

  {% endfor %}

  <hr>

{% endfor %}

<h4 class="u-mtsm">{{ site.data.website.curriculum.complete-list | markdownify }}</h4>

<hr>
