---
title: Faculty
permalink: "/faculty/"
layout: home
filter: Faculty
filter-class: faculty
---

{% include _paragraphs.html page="faculty" %}

<hr>

{% for instructor in site.data.faculty.instructors %}
  <div class="row listing listing-faculty">
      <div class="listing-name">
          {% assign parsons = site.data.external.parsons %}
          <a href="{{ instructor.url }}" target="_blank"><h3 data-external="{{ parsons.text }}">{{ instructor.name }}</h3></a>
      </div>
      {% if instructor.url %}
        <div class="ui-arrow"></div>
      {% endif %}
  </div>
{% endfor %}

<hr>

<h1>Past faculty</h1>

<ul class="ul-md columns-2">
  {% for past in site.data.faculty.past %}
    <li class="u-mbn">
      {% if past.url %}
        <a href="{{ past.url }}">{{ past.name }}</a>
      {% else %}
        {{ past.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<hr>

<h1>Guests</h1>

<ul class="ul-md columns-2">
  {% for guests in site.data.faculty.guests %}
    <li class="u-mbn">
      {% if guests.url %}
        <a href="{{ guests.url }}">{{ guests.name }}</a>
      {% else %}
        {{ guests.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<hr>