---
title: Faculty
permalink: "/faculty/"
layout: home
filter: Faculty
filter-class: faculty
---

{% include _paragraphs.html page="faculty" %}

{% assign sorted_faculty = site.faculty | sort:"position" %}
{% for faculty in sorted_faculty %}
{% if faculty.slug contains 'instructors' %}

<p>{{ faculty.content }}</p>

{% for instructor in faculty.list %}
  <div class="row listing listing-faculty">
      <div class="listing-name">
        <h3 {% unless instructor contains '](' %} class='no-url'{% endunless %} >{{ instructor | markdownify | remove: '</p>' | remove: '<p>' }}</h3>
      </div>
      {% if instructor contains '](' %}
        <div class="ui-arrow"></div>
      {% endif %}
  </div>
{% endfor %}

{% else %}

<h2>{{ faculty.title }}</h2>

<p>{{ faculty.content }}</p>

<ul class="ul-md columns-2 listing-sm">
  {% for instructor in faculty.list %}
    <li class="u-mbn listing-name-sm">
        {{ instructor | markdownify | remove: '</p>' | remove: '<p>' }}
    </li>
  {% endfor %}
</ul>

{% endif %}
<hr>
{% endfor %}
