---
title: Faculty
permalink: "/faculty/"
layout: home
filter: Faculty
filter-class: faculty
---

{% include _paragraphs.html page="faculty" %}

<hr>

{% assign sorted_faculty = site.faculty | sort:"position" %}
{% for faculty in sorted_faculty %}
{% if faculty.slug contains 'instructors' %}

{% for instructor in faculty.list %}
  <div class="row listing listing-faculty">
      <div class="listing-name">
        <h3 {% unless instructor contains '](' %} class='no-url'{% endunless %} >{{ instructor | markdownify | remove: '</p>' | remove: '<p>' }}</h3>
      </div>
      {% if instructor contains '](' %}
        <div class="ui-arrow"></div>
      {% endif %}
  </div>
{% endfor %}

{% else %}

<h1>{{ faculty.title }}</h1>

<ul class="ul-md columns-2">
  {% for instructor in faculty.list %}
    <li class="u-mbn">
        {{ instructor | markdownify | remove: '</p>' | remove: '<p>' }}
    </li>
  {% endfor %}
</ul>

{% endif %}
<hr>
{% endfor %}