<h1>Typography</h1>

<p>Staatliches Bauhaus (German: [ˈʃtaːtlɪçəs ˈbaʊˌhaʊs] (About this sound listen)), commonly known simply as Bauhaus, was a German art school operational from 1919 to 1933 that combined crafts and the fine arts, and was famous for the approach to design that it publicised and taught.</p>

<p>The <a href="https://en.wikipedia.org/wiki/Bauhaus">Bauhaus</a> was founded by Walter Gropius in Weimar. The German term Bauhaus—literally &quot;construction house&quot;—was understood as meaning &quot;School of Building&quot;, but in spite of its name and the fact that its founder was an architect, the Bauhaus did not have an architecture department during its first years of existence. Nonetheless, it was founded with the idea of creating a &quot;total&quot; work of art (Gesamtkunstwerk) in which all arts, including architecture, would eventually be brought together. <strong>The Bauhaus style later became one of the most influential currents in modern design</strong>, Modernist architecture and art, design and architectural education. The Bauhaus had a profound influence upon subsequent developments in art, architecture, graphic design, interior design, industrial design, and typography.</p>

<h2>Headline 2</h2>

<p>The school existed in three German cities: Weimar from 1919 to 1925, Dessau from 1925 to 1932 and Berlin from 1932 to 1933, under three different architect-directors: Walter Gropius from 1919 to 1928, Hannes Meyer from 1928 to 1930 and Ludwig Mies van der Rohe from 1930 until 1933, when the school was closed by its own leadership under pressure from the Nazi regime, having been painted as a centre of communist intellectualism. Although the school was closed, the staff continued to spread its idealistic precepts as they left Germany and emigrated all over the world.</p>

<blockquote>
	Although the school was closed, the staff continued to spread its idealistic precepts as they left Germany and emigrated all over the world.
</blockquote>

<p>The school existed in three German cities: Weimar from 1919 to 1925, Dessau from 1925 to 1932 and Berlin from 1932 to 1933, under three different architect-directors: Walter Gropius from 1919 to 1928, Hannes Meyer from 1928 to 1930 and Ludwig Mies van der Rohe from 1930 until 1933, when the school was closed by its own leadership under pressure from the Nazi regime, having been painted as a centre of communist intellectualism. Although the school was closed, the staff continued to spread its idealistic precepts as they left Germany and emigrated all over the world.</p>

<hr>

<p>The changes of venue and leadership resulted in a constant shifting of focus, technique, instructors, and politics. For example, the pottery shop was discontinued when the school moved from Weimar to Dessau, even though it had been an important revenue source; when Mies van der Rohe took over the school in 1930, he transformed it into a private school, and would not allow any supporters of Hannes Meyer to attend it.</p>

<h3>Headline 3</h3>

<p>Germany's defeat in World War I, the fall of the German monarchy and the abolition of censorship under the new, liberal Weimar Republic allowed an upsurge of radical experimentation in all the arts, which had been suppressed by the old regime. Many Germans of left-wing views were influenced by the cultural experimentation that followed the Russian Revolution, such as constructivism.</p>

<ul>
	<li>Bauhaus staff and students</li>
	<li>See also</li>
	<li>Footnotes</li>
		<ol>
			<li>Sublist 1</li>
			<li>Sublist 2</li>
			<li>Sublist 3</li>
		</ol>
	<li>References</li>
		<ul>
			<li>Sublist 1</li>
			<li>Sublist 2</li>
			<li>Sublist 3</li>
		</ul>
	<li>Bibliography</li>
	<li>External links</li>
</ul>

<p>Such influences can be overstated: Gropius did not share these radical views, and said that Bauhaus was entirely apolitical.[5] Just as important was the influence of the 19th century English designer William Morris, who had argued that art should meet the needs of society and that there should be no distinction between form and function.[6] Thus, the Bauhaus style, also known as the International Style, was marked by the absence of ornamentation and by harmony between the function of an object or a building and its design.</p>

<p><hr></p>

<h4>Headline 4</h4>

<p>However, the most important influence on Bauhaus was modernism, a cultural movement whose origins lay as early as the 1880s, and which had already made its presence felt in Germany before the World War, <em>despite the prevailing conservatism</em>. The design innovations commonly associated with Gropius and the Bauhaus—the radically simplified forms, the rationality and functionality, and the idea that mass production was reconcilable with the individual artistic spirit—were already partly developed in Germany before the Bauhaus was founded. The German national designers' organization Deutscher Werkbund was formed in 1907 by Hermann Muthesius to harness the new potentials of mass production, with a mind towards preserving Germany's economic competitiveness with England. In its first seven years, the Werkbund came to be regarded as the authoritative body on questions of design in Germany, and was copied in other countries. Many fundamental questions of craftsmanship versus mass production, the relationship of usefulness and beauty, the practical purpose of formal beauty in a commonplace object, and whether or not a single proper form could exist, were argued out among its 1,870 members (by 1914).</p>

<ol>
	<li>Bauhaus staff and students</li>
	<li>See also</li>
	<li>Footnotes</li>
		<ul>
			<li>Sublist 1</li>
			<li>Sublist 2</li>
			<li>Sublist 3</li>
		</ul>
	<li>References</li>
		<ol>
			<li>Sublist 1</li>
			<li>Sublist 2</li>
			<li>Sublist 3</li>
		</ol>
	<li>Bibliography</li>
	<li>External links</li>
</ol>

<h5>Headline 5</h5>

<p>The entire movement of German architectural modernism was known as Neues Bauen. Beginning in June 1907, Peter Behrens' pioneering industrial design work for the German electrical company AEG successfully integrated art and mass production on a large scale. He designed consumer products, standardized parts, created clean-lined designs for the company’s graphics, developed a <code>consistent corporate identity</code>, built the modernist landmark AEG Turbine Factory, and made full use of newly developed materials such as poured concrete and exposed steel. Behrens was a founding member of the Werkbund, and both Walter Gropius and Adolf Meyer worked for him in this period.</p>

<pre>
	this is some code
				and other 			stuff
</pre>

<h6>Headline 6</h6>

<p>The Bauhaus was founded at a time when the German zeitgeist had turned from emotional Expressionism to the matter-of-fact New Objectivity. An entire group of working architects, including Erich Mendelsohn, Bruno Taut and Hans Poelzig, turned away from fanciful experimentation, and turned toward rational, functional, sometimes standardized building. Beyond the Bauhaus, many other significant German-speaking architects in the 1920s responded to the same aesthetic issues and material possibilities as the school.</p>

<table>
	<thead>
		<tr>
			<th>Syntax</th>
			<th>Description</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="font-secondary-heavy">Header</td>
			<td>Title</td>
		</tr>
		<tr>
			<td>Paragraph</td>
			<td>Text</td>
		</tr>
	</tbody>
</table>

<p>They also responded to the promise of a &quot;minimal dwelling&quot; written into the new Weimar Constitution. Ernst May, Bruno Taut, and Martin Wagner, among others, built large housing blocks in Frankfurt and Berlin. The acceptance of modernist design into everyday life was the subject of publicity campaigns, well-attended public exhibitions like the Weissenhof Estate, films, and sometimes fierce public debate.</p>

<ul>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled checked>Write the press release</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled>Update the website</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled>Contact the media</li>
</ul>

<p>The Vkhutemas, the Russian state art and technical school founded in 1920 in Moscow, has been compared to Bauhaus. Founded a year after the Bauhaus school, Vkhutemas has close parallels to the German Bauhaus in its intent, organization and scope. The two schools were the first to train artist-designers in a modern manner.</p>

<p><img src="_assets/images/_placeholder-4-3.svg" alt="4:3 test image" />
	<img src="_assets/images/_placeholder-4-3.svg" alt="4:3 test image" /></p>

	<p>Both schools were state-sponsored initiatives to merge the craft tradition with modern technology, with a basic course in aesthetic principles, courses in color theory, industrial design, and architecture. Vkhutemas was a larger school than the Bauhaus,[8] but it was less publicised outside the Soviet Union and consequently, is less familiar in the West.</p>

	<h5>Week 1</h5>

	<p>Something</p>

	<h5>Week 1</h5>

	<p>Something</p>

	<h5>Week 1</h5>

	<p>Something</p>

	<h6>Week 2</h6>

	<p>Something else</p>

	<h6>Week 2</h6>

	<p>Something else</p>

	<h6>Week 2</h6>

	<p>Something else</p>
</body>
</html>
