<div class="announcement-container">
    {% for announcement in site.data.announcements.announcements %}
      <div class="announcement-top">
        <div class="announcement-title">{{ announcement.title | markdownify }}</div>
      </div>
      <div class="announcement-middle">
        <div class="announcement-subtitle">{{ announcement.subtitle }}</div>
        <div>{{ announcement.description }}</div>
        <div>{{ announcement.decoration }}</div>
        <div class="announcement-link"><a href="{{ announcement.link }}">Here</a></div>
      </div>
      <div class="announcement-bottom">
        <div class="announcement-close">Close</div>
      </div>
    {% endfor %}
</div>
