<div class="announcement-container">
    {% assign announcement = site.pages[1] %}
    <div class="announcement-top">
      <div class="announcement-close">&times;</div>
    </div>
    <div class="announcement-middle">
      <div class="announcement-subtitle">
        <p>{{ announcement.announcement_subtitle | markdownify }}</p>
        <p>{{ announcement.content | markdownify }}</p>
      </div>
      <div class="announcement-title"><p>{{ announcement.announcement_title | markdownify }}</p></div>
    </div>
</div>
