<div class="countdown-wrapper">
  <div class="countdown-modal">

    <div class="countdown-timer">
      <h2>MPSCD2021</h2>
      <h2 id="timer"></h2>
    </div>

    <div class="countdown-hero countdown-hidden">
      <img src="{{ site.countdown_hero }}" alt="{{ site.countdown_hero }}">
      <div class="countdown-hero-sticker">
        <span>{{ site.countdown_sticker }}</span>
      </div>
    </div>

    <div class="countdown-dismiss">
      <span id="dismiss">Continue to website</span>
    </div>

  </div>
</div>
