<div class="countdown-wrapper js-countdown-dismiss">
  <div class="countdown-modal">

    <div class="countdown-timer">
      <h2>MPSCD2021</h2>
      <h2 id="timer"></h2>
    </div>

    <div class="countdown-hero countdown-hidden js-countdown-dismiss">
      <img src="{{ site.countdown_hero }}" alt="{{ site.countdown_hero }}">
      <div class="countdown-hero-sticker">
        <span>{{ site.countdown_sticker }}</span>
      </div>
    </div>

    <div class="countdown-dismiss js-countdown-dismiss">
      <span>Continue to website</span>
    </div>

  </div>
</div>
