<h1>Creating the future of design</h1>

<p>The program is tailored to practicing designers seeking to enhance their digital skills and leadership potential as well as professionals with relevant design experience who want to enter the field. It encompasses the full product development cycle in communication design — from idea conception to prototyping to feedback-based refinements — and familiarizes you with business strategy.</p>

<hr>

<h1>Summer</h1>

{% for course in site.data.curriculum.summer %}
  <div>
    <h6>{{ course.number }} {{ course.credits }}</h6>
    <h3>{{ course.title }}<div class="ui-arrow"></div></h3>
    <div class="u-mtsm">
      {{ course.description | markdownify }}
      <p><a href="{{ course.url }}">{{ course.url-title }}</a></p>
    </div>
  </div>
{% endfor %}

<hr>

<h1>First Semester</h1>

{% for course in site.data.curriculum.first-semester %}
  <div>
    <h6>{{ course.number }} {{ course.credits }}</h6>
    <h3>{{ course.title }}<div class="ui-arrow"></div></h3>
    <div class="u-mtsm">
      {{ course.description | markdownify }}
      <p><a href="{{ course.url }}">{{ course.url-title }}</a></p>
    </div>
  </div>
{% endfor %}

<hr>

<h1>Second Semester</h1>

{% for course in site.data.curriculum.second-semester %}
  <div>
    <h6>{{ course.number }} {{ course.credits }}</h6>
    <h3>{{ course.title }}<div class="ui-arrow"></div></h3>
    <div class="u-mtsm">
      {{ course.description | markdownify }}
      <p><a href="{{ course.url }}">{{ course.url-title }}</a></p>
    </div>
  </div>
{% endfor %}

<h4>For a complete listing of courses and course descriptions, visit the <a href="">University Course Catalog</a>.</h4>

