<h1>Faculty</h1>

<p>The program is tailored to practicing designers seeking to enhance their digital skills and leadership potential as well as professionals with relevant design experience who want to enter the field. It encompasses the full product development cycle in communication design — from idea conception to prototyping to feedback-based refinements — and familiarizes you with business strategy.</p>

<hr>

{% for instructor in site.data.faculty.instructors %}
<div class="row listing">
    <div class="listing-name">
        {% assign parsons = site.data.external.parsons %}
        <a href="{{ parsons.url }}" target="_blank"><h3 data-external="{{ parsons.text }}">{{ instructor.name }}</h3></a>
    </div>
    <div class="ui-arrow"></div>
</div>
{% endfor %}
