<!-- foot -->
<div class="footer">
  <div class="inner u-pbxs">
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <ul>
                    <li><h1><a>Curriculum</a></h1></li>
                    <li><h1><a>Faculty</a></h1></li>
                    <li><h1><a>Students</a></h1></li>
                    <li><h1><a>Apply</a></h1></li>
                  </ul>
            </div>
            <div class="row">
                <ul>
                    <li><h4><a>Curriculum</a></h4></li>
                    <li><h4><a>Faculty</a></h4></li>
                    <li><h4><a>Students</a></h4></li>
                    <li><h4><a>Apply</a></h4></li>
                  </ul>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-6 col-sm-3 col-sm-offset-4 u-pbsm visible-xs">
                <p>PARSONS LOGO</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-sm-offset-4 u-pbsm u-sm-pbn">
                <p>Parsons<br/>
                  The New School for Design<br/>
                  66 5th Avenue<br/>
                  New York, NY<br/>
                </p>
              </div>
           </div>

      </div>
    </div>
  </div>
</div>
