<!-- foot -->
<div class="footer">
    <div class="container-fluid">
            <div class="row">
              <div class="col">
                <hr>
                <ul class="u-mbmd">
                {% for link in site.data.navigation.primary %}
                  {% assign class = nil %}
                  {% if page.url contains link.url %}
                    {% assign class = 'hidden' %}
                  {% endif %}
                  <li><h1><a href="{{ link.url }}"  class="{{ class }}">{{ link.title }}</a></h1></li>
                {% endfor %}
                </ul>
                <ul class="u-mbmd">
                {% for link in site.data.navigation.secondary %}
                  <li><h4><a href="{{ link.url }}">{{ link.title }}</a></h4></li>
                {% endfor %}
                </ul>
              </div>
            </div>

          <div class="row u-mblg">
              <div class="col-xs-6 col-sm-6 u-pbsm visible-xs">
                <p>PARSONS LOGO</p>
              </div>
              <div class="col-xs-6 col-sm-6 u-pbsm u-sm-pbn">
                <p>Parsons<br/>
                  The New School for Design<br/>
                  66 5th Avenue<br/>
                  New York, NY<br/>
                </p>
              </div>
           </div>
    </div>
</div>
