<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html class="no-js"> <!--<![endif]-->

  <head>
    <title>{{ site.data.website.website.title }}</title>

    <meta name="author" content="">
    <meta name="description" content="">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="og:url" content="http://www.newschool.edu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.data.website.website.title }}">
    <meta property="og:description" content="{{ site.data.website.website.description }}">
    <meta property="og:image" content="{{ site.data.filepaths.main }}xxix-og-rect.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ site.data.website.website.description }}">
    <meta name="twitter:title" content="{{ site.data.website.website.title }}">
    <meta name="twitter:image" content="{{ site.data.filepaths.main }}xxix-og-rect.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blast-text@2.0.0/jquery.blast.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.js"></script>

    <link rel="stylesheet" href="{{ '/assets/application.css' | relative_url }}" />

    <link rel="preload" href="{{ '/assets/fonts/MPSSans-Pixel.woff' | relative_url }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ '/assets/fonts/MPSSans-Pixel.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ '/assets/fonts/MPSSans-Expressive.woff' | relative_url }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ '/assets/fonts/MPSSans-Expressive.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="preload js-body with-mask" id="current-page-title">
