<div class="info {% if site.data.website.website.starting-page == 'explore' and page.url == '/' %}exploreOn{% else %}exploreOff{% endif %}">
  <div class="container-fluid">
    <div class="row">
        <div class="col">
          <div class="row">
            {% include _nav.html %}
          </div>
          <div class="row t-set">
            <div class="col">
            {{ content }}
            </div>
          </div>
          <div class="row">
            {% include _footer.html %}
          </div>
        </div>
    </div>
  </div>
</div>
