<div class="nav">
  <div class="inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a href="/" class="logo active">Parsons MPS Communication Design <span class="">Digital Product Design</span></a>
        </div>
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="curriculum">Curriculum</a></li>
                  <li><a href="faculty">Faculty</a></li>
                  <li><a href="students">Students</a></li>
                  <li><a href="apply">Apply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
