<div class="nav u-mtsm">
  <div class="inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h4><a href="/" class="logo">Parsons MPS Communication Design <span class="text-outline">Digital Product Design</span></a>
        </div>
        <div class="col u-mbxl">
            <ul>
          {% for link in site.data.navigation.primary %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
              {% assign class = 'active' %}
            {% endif %}
            <li><h4><a href="{{ link.url }}" class="{{ class }}">{{ link.title }}</a></h4></li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
