<div class="nav">
    <div class="nav-title">
      <h4>menu</h4>
    </div>
    <div class="container-fluid">
      <div class="nav-menu col collapse">
        <ul>
            {% for link in site.data.navigation.primary %}
              {% assign class = nil %}
              {% if page.url contains link.url %}
                {% assign class = 'active' %}
              {% endif %}
              <li><h4><a href="{{ link.url }}" class="{{ class }}">{{ link.title }}</a></h4></li>
            {% endfor %}
          </ul>
      </div>
    </div>
</div>
<div class="container-fluid nav-desktop">
    <div class="row u-mtsm u-mbxl">
      <div class="col">
        <h4><a href="/" class="logo hover-text-outline">Parsons MPS Communication Design <span class="text-outline">Digital Product Design</span></a>
      </div>
      <div class="col">
        <ul>
        {% for link in site.data.navigation.primary %}
          {% assign class = nil %}
          {% if page.url contains link.url %}
            {% assign class = 'active' %}
          {% endif %}
          <li><h4><a href="{{ link.url }}" class="{{ class }}">{{ link.title }}</a></h4></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>