<div class="pill-container">
  <div class="ui-pill ui-pill-black page-filter {% if site.is_explore_open == 'true' and page.url == '/' %}exploreOn{% else %}exploreOff{% endif %} titles">
    {% for type in site.data.filters.filters %}
      <span id="title-{{ type.type | downcase }}"></span>
    {% endfor %}
  </div>
  <div class="filter-list">
    {% for type in site.data.filters.filters %}
      <ul class="sub-menu" id="{{ type.type | downcase }}" data-filter-group="{{ type.type | downcase }}">
        <li class="ui-pill ui-pill-label filter-button" data-filter="">{{ type.type }}</li>
        {% for subfilter in type.filters reversed %}
          <li class="ui-pill" data-filter=".{{ subfilter.class }}">{{ subfilter.title }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
