<h1>Who makes the present?</h1>

<p>The program is tailored to practicing designers seeking to enhance their digital skills and leadership potential as well as professionals with relevant design experience who want to enter the field. It encompasses the full product development cycle in communication design — from idea conception to prototyping to feedback-based refinements — and familiarizes you with business strategy.</p>

<hr>

<h1>2019</h1>

<div>
    <ul>
        <li><a href="">Husani Barnwell</a></li>
        <li><a href="">Carolyn Berry</a></li>
        <li><a href="">Poppy Chen</a></li>
        <li><a href="">Sheila Cheng</a></li>
        <li><a href="">Samia Husari</a></li>
        <li><a href="">Vidya Keshavan</a></li>
        <li><a href="">Diana Mejia</a></li>
        <li><a href="">Nikhil Misra</a></li>
        <li><a href="">Patricia Robinson</a></li>
        <li><a href="">Sonali Sampat</a></li>
        <li><a href="">Danielle Santucci</a></li>
        <li><a href="">Patrick Serr</a></li>
      </ul>
</div>

<hr>

<h1>2018</h1>

<div>
  <ul>
    <li><a href="">Husani Barnwell</a></li>
    <li><a href="">Carolyn Berry</a></li>
    <li><a href="">Poppy Chen</a></li>
    <li><a href="">Sheila Cheng</a></li>
    <li><a href="">Samia Husari</a></li>
    <li><a href="">Vidya Keshavan</a></li>
    <li><a href="">Diana Mejia</a></li>
    <li><a href="">Nikhil Misra</a></li>
    <li><a href="">Patricia Robinson</a></li>
    <li><a href="">Sonali Sampat</a></li>
    <li><a href="">Danielle Santucci</a></li>
    <li><a href="">Patrick Serr</a></li>
  </ul>
</div>