.announcement-container {
  width: auto;
  height: 100vh;
  background: $announcement-color;
  z-index: 30;
  padding: 5px $space-xs $space-xs;
  color: $announcement-text;
  font-family: $font-secondary;
  font-size: $text-xs-md;
  text-transform: uppercase;
  line-height: $text-line-sm;

  position: fixed;
  top:0;
  left:0;
  margin-left: $sidebar-width;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  transform: translateX(0);
  transition: $base-transition;
  transition-property: transform;

  &.off {
    transform: translateX(-100%);
    margin-left: 0;
  }

  p, span {
    color: $announcement-text;
    font-family: $font-secondary;
    font-size: $text-xs-md;
    text-transform: uppercase;
    line-height: $text-line-sm;
    @include sm {
      font-size: $text-md;
    }

    a {
      text-decoration: underline;
    }
  }

  @include sm {
    font-size: $text-md;
  }

}

.announcement-top {
  padding-bottom: $space-xs;
  text-align: right;
}

.announcement-bottom {
  flex: 1;
  overflow: hidden;
  .announcement-title {
    -webkit-column-width: calc(#{$announcement-width} - #{$space-xs} * 2);
    column-width: calc(#{$announcement-width} - #{$space-xs} * 2);
    height: 100%;
  }
}

.announcement-link {
  background: $announcement-text;
  color: $announcement-color;
  margin: $space-xs 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: table;

  & a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &:hover {
    background: $announcement-color;
    border: solid 1px $announcement-text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $announcement-text;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      color: white;
    }
  }

}

.announcement-close {
  display: inline-block;
  cursor: pointer;
  font-size: 50px;
  font-weight: 200;
  font-family: helvetica, arial, sans-serif;

  &:hover {

  }
}
