.cookies-container {
  width: $cookies-width;
  height: 100vh;
  background: $cookies-color;
  z-index: 35;
  padding: $space-xs;
  color: $cookies-text;
  font-family: $font-secondary;
  font-size: $text-xs-md;
  line-height: $text-line-sm;
  text-transform: uppercase;

  position: fixed;
  top:0;
  left:0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  transform: translateX(0);
  transition: transform .3s ease;

  &.off {
    transform: translateX(-100%);
  }

  p {
    color: $cookies-text;
    font-family: $font-secondary;
    font-size: $text-xs-md;
    text-transform: uppercase;
    line-height: $text-line-sm;
  }
  @include sm {
    font-size: $text-md;
  }

}

.cookies-top {
  flex: 1;
  overflow: hidden;
  .cookies-title {
    -webkit-column-width: calc(#{$cookies-width} - #{$space-xs} * 2);
    column-width: calc(#{$cookies-width} - #{$space-xs} * 2);
    height: 100%;
  }
}

.cookies-middle {
  padding: $space-md 0;
}

.cookies-close {
  border-bottom: 1px dotted $cookies-text;
  display: inline-block;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $cookies-text;

  }
}
