.cookies-container {
  background: $cookies-color;
  z-index: 35;
  color: $cookies-text;
  font-family: $font-secondary;
  font-size: $text-xxs;
  line-height: $text-line-md;
  position: fixed;
  right: $space-xs;
  bottom: $space-xs;
  border-radius: $space-sm;
  padding: $space-xs $space-xs + 6px;
  width: calc(100% - #{$space-xs} * 2);
  text-align: center;

  @include sm {
    max-width: 20%;
    width: auto;
    right: $space-sm;
    bottom: $space-sm;
  }

  &.off {
    display: none;
  }

}

.cookies-close {
  border-bottom: 1px dotted $cookies-text;
  display: inline-block;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $cookies-text;
  }
}
