$countdown-sticker-diameter: 150px;
$countdown-sticker-diameter-sm: 100px;
$countdown-sticker-color: blue;

.countdown-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: calc(100vw - #{$sidebar-width});
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-modal {
  width: 85%;
  min-width: 280px;

  @include sm {
    width: 75%;
    min-width: 400px;
  }
}

.countdown-timer {
  background: black;
  border-radius: 25px;
  padding: 10px;

  @include sm {
    padding: 25px;
    margin: 0 12.5%;
  }

  > * {
    text-align: center;
    color: white;
    @include tertiary-italic;
    font-size: $text-sm;

    @include sm {
      font-size: $text-lg;
    }
  }

  h2#timer {
    @include secondary;
    margin-top: $space-xxs;
    font-size: $text-xs-lg;

    @include sm {
      font-size: $text-xl-xl;
    }
  }
}

.countdown-dismiss {
  text-align: center;
  margin-top: $space-xs;

  span {
    color: black;
    @include secondary;

    &:hover {
      cursor: pointer;
    }
  }
}

.countdown-hero {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .countdown-hero-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -($countdown-sticker-diameter-sm/2);
    right: 10px;
    z-index: 101;
    height: $countdown-sticker-diameter-sm;
    width: $countdown-sticker-diameter-sm;
    background: $countdown-sticker-color;
    border-radius: 999px;
    padding: 10px;

    @include sm {
      top: -($countdown-sticker-diameter/2);
      right: 25px;
      height: $countdown-sticker-diameter;
      width: $countdown-sticker-diameter;
    }

    span {
      text-align: center;
      color: white;
      font-size: $text-xs;
      @include secondary;

      @include sm {
        font-size: $text-sm;
      }
    }
  }
}

.countdown-hidden {
  display: none;
}

.countdown-visible {
  display: flex;
}
