$exp-x: $explore-img-nb * $explore-img-width;
$exp-x-mobile: $explore-img-nb-mobile * $explore-img-width-mobile;
$exp-y: -2 * $explore-img-nb * $space-sm;
$exp-y-mobile: -2 * $explore-img-nb-mobile * $space-sm;
$exp: calc(#{$exp-x} - #{$exp-y});
$exp-mobile: calc(#{$exp-x-mobile} - #{$exp-y-mobile});

.explore {
  z-index: 0;
  margin-left: $space-sm;
  height: 100vh;
  position: relative;

  &.blurOn {
    pointer-events: all;
    * {
      pointer-events: none;
    }
  }

  &.exploreOff {
    &:hover {
      @extend .blurInter;
      cursor: pointer;
    }
  }

  &.exploreOn {
    cursor: default;
    position: relative;
    #exploreArea .explore-items {
      cursor: url("images/hand.png"), auto;
    }
  }

  #exploreArea {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .explore-items {
      width: $exp-mobile;
      min-height: 100vh;
      cursor: pointer;
      @include sm {
        width: $exp;
        transform: translateX(calc((100vw - 100%) / 2)) translateY(calc((100vh - 100%) / 2));
      }
      .explore-item {
        width: $explore-img-width-mobile;
        margin: $space-sm;
        position: absolute;
        display: inline-block;
        @include sm {
          margin: $space-sm;
          width: $explore-img-width;
        }
        &.small {
          width: $explore-img-width-mobile;
          @include sm {
            width: $explore-img-width / 1;
          }
        }
        &.large {
          width: $explore-img-width-mobile;
          @include sm {
            width: $explore-img-width * 1;
          }
        }
        img {
          max-width: 100%;
          // -webkit-filter: drop-shadow(5px 5px 5px #222);
          // filter: drop-shadow(5px 5px 5px #222);
        }
        a {
          cursor: url("images/alias.png"), auto;
        }
        &.exploreOn.imagepost{
          cursor: url("images/zoom.png"), auto;
          text-align: center;
        }
        &.important {
          height: $explore-img-width-mobile;
          @include sm  {
            height: $explore-img-width;
          }
          border-radius: 50%;
          div.explore-text {
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              font-size: $text-xs-xl;
              line-height: $text-line-sm;
              @include sm{
                font-size: $text-v-xs;
              }
              color: black;
              text-align: center;
              mix-blend-mode: normal;
            }
          }
        }
        div.explore-text{
          background-color: $explore-color;
          padding: $space-xs;
          // -webkit-filter: drop-shadow(5px 5px 5px #222);
          // filter: drop-shadow(5px 5px 5px #222);
          p {
            font-size: $text-xs-sm;
            @include sm {
              font-size: $text-sm;
            }
            @include xl {
              font-size: $text-md;
            }
            mix-blend-mode: difference;
            color: white;
          }
        }
      }
    }
  }
}

.hover-caption {
  position: fixed;
  bottom: $space-xs;
  left: $sidebar-width + $space-sm;
  z-index: 12;
  width: 60%;
  display:none;
  pointer-events: none;

  a {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: $color-base;
  }

  @include sm {
    &.exploreOn {
    display:block;
    }
  }
}

div#exploreHover {
  position: absolute;
  width: $explore-hover;
  height: $explore-hover;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background: $explore-hover-color;
  margin-left: $explore-hover * -0.5;
  margin-top: $explore-hover * -0.5;
  pointer-events: none;
  cursor: pointer;
  h4 {
    color: $color-light;
  }
}
