$exp-x: $explore-img-nb * $explore-img-width;
$exp-y: -2 * $explore-img-nb * $space-md;
$exp: calc(#{$exp-x} - #{$exp-y});

.explore {
  z-index: 0;
  margin-left: $space-sm;
  height: 100vh;
  position: relative;

  &.exploreOff {
    &:hover {
      @extend .blurInter;
    }
  }

  &.exploreOn {
    cursor: default;
    position: relative;
    #exploreArea .explore-items {
      cursor: url("images/hand.png"), auto;
    }
  }

  #exploreArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .explore-items {
      top: -40%;
      left: -40%;
      width: $exp;
      cursor: pointer;
      .explore-item {
        width: 30vw;
        position: absolute;
        display: inline-block;
        margin: $space-md;
        pointer-events: none;
        img {
          max-width: 100%;
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
        }
        &.exploreOn{
          cursor: url("images/zoom.png"), auto;
          pointer-events: all;
        }
        div.explore-text{
          background-color: $explore-color;
          padding: $space-xs;
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
          p {
            font-size: $text-md;
            mix-blend-mode: difference;
            color: white;
          }
        }
      }
    }
  }
}

.hover-caption {
  position: fixed;
  bottom: $space-xs;
  left: $sidebar-width + $space-sm;
  z-index: 12;
  width: 60%;
  display:none;
  pointer-events: none;

  a {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: $color-base;
  }

  @include sm {
    &.exploreOn {
    display:block;
    }
  }
}
