footer {
  width: 100%;
  position: relative;
  margin-bottom: $space-xl;

  @include sm {
    margin-bottom: 0;
  }

  hr {
    display: none;
    @include sm {
      display: block;
    }
  }

  h6 {
    font-size: $text-sm;
    margin-bottom: $space-xxs;
  }

  p, li {
    font-size: $text-xs;
  }

  p {
    a {
      border-bottom: $border-base;
      &:hover {
        border-bottom: $border-sm;
      }
    }
  }

  .footer-main {
    display: none;
    @include sm {
      display: block;
    }
  }

  .footer-sub {
    @include sm {
      column-count: 2;
      column-gap: $space-xs * 2;
    }
  }

  .footer-sub > li {
    margin: $space-sm 0 !important;

    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  .colophon {

  }
}
