.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #000;
  position: fixed;
  z-index: 12;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  margin-left: -$space-sm;

  &.explore-open {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    }
}

.sidebar-title {
  transform: rotate(-90deg);
}

.sidebar-info {
  height: 112px;
  width: $sidebar-width;
  transform: rotate(-90deg);
  position: fixed;
  z-index: 13;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  margin-left: -$space-sm;
  display: none;

  &.explore-open {
    margin-left: 0;
    display: flex;
  }

  @include sm {
    margin-left: 0;
    }
}

.sidebar-arrow {
  position: fixed;
  z-index: 13;
  top: 18px;
  left: 9px;
  width: 15px;
  height: $space-xs;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center;
  transform: rotate(90deg);
  background-image: url("images/down-arrow.svg");
  display:none;

  &.explore-open {
    display: block;
  }

  &.text-outline {
    background-image: url("images/down-arrow-open.svg");
  }
}


.footer {
width: 100%;
position: relative;
}


.nav {
  width: 90%;
  top:0px;
  left: 0px;
  background: $color-light;
  position: fixed;
  z-index: 12;
  border-right: 1px solid $color-dark;

  @include sm {
    display: none;
  }
}

.nav-title {
  width: 100%;
  text-align: right;
  min-height: $nav-height;
  border-bottom: 4px solid $color-dark;
  margin: 0 $space-xs;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu {
  padding: $space-sm 0;
  height: 100vh;
}

.nav-desktop {

  margin-top: $nav-height;

  @include sm {
    margin-top: 0px;
    margin-top: none;
  }

    li {   
      display: none;

      @include sm {
        display: block;
      }

      a {
      &.active {
          &::before {
            display: inline-block;
            content: ' ';
            background: $color-dark;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            margin-left: -30px;
            margin-right: 6px;
          }
        }

        &:hover {
          &::before {
            display: inline-block;
            content: ' ';
            background: $color-light;
            border: $color-dark solid 1px;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            margin-left: -30px;
            margin-right: 6px;
          }
        }

      }
    }
  
 }



.footer {

  p,
  {
    font-size: $text-sm;
  }

  a {

    &.active {
    }

    &:hover {

    }

  }
}
