//info and explore

.info {
  z-index: 10;
  position: fixed;
  height: 100vh;
  background: $color-light;
  border-right: $border-sm;
  width: $info-width-xs;
  transition: $base-transition;
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;

  @include sm {
    width: $info-width-sm;
    padding-left: $sidebar-width;
  }

  @include md {
    width: $info-width-md;
    max-width: $info-width-max-md;
    padding-left: $sidebar-width;
  }
}



// listing stuff

div.listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .ui-arrow {
    width: 24px;
    height: 24px;
    background-origin: content-box;
    background-position: center;
    background-image: url("images/right-arrow.svg");
    display: inline-block;
    background-size: 24px;
    background-repeat: no-repeat;
    transform-origin: center;
    margin: 0 $space-xs;
    margin-top: 8px;
    transition: $base-transition-sm;
  }

  .listing-description {
    max-height: 0px;
    overflow: hidden;
    transition: $base-transition-sm;
  }

  &.listing-curriculum {
    .ui-arrow {
      transform: rotate(45deg);
      &.text-outline {
        transform: rotate(90deg);
      }
    }
    & > div:nth-child(1) {
      margin-top: 8px;
    }

    & > div:nth-child(2) {
      flex: 1;
      padding: 0 $space-xs;
      cursor: pointer;
    }
  }

  &.listing-faculty {
    .ui-arrow {
      transform: rotate(0deg);
      &.text-outline {
        transform: rotate(-45deg);
      }
    }
    .listing-name {
      margin-left: $space-xs;
    }
  }

  &.expanded {
    .listing-description {
      padding-top: $space-sm;
      max-height: 1000px !important;
    }
    .ui-arrow {
      transform: rotate(-45deg);
      &.text-outline {
        transform: rotate(-90deg);
      }
    }
  }
}


// student list styles

.ul-md {
  list-style-type: none !important;
  margin: 0;
  padding: 0;

  & > li {
  font-family: $font-secondary;
  font-size: $text-xs-md;
  line-height: $text-line-md;
  margin: none;

  & a {
    border-bottom: none;
  }

  @include sm {
    font-size: $text-md;
    }
  }
}

.columns-2 {
  @include sm {
    column-count: 2;
    column-gap: 36px;
  }
}



// Filter styling


.pill-container {
  position: fixed;
  z-index: 10;
  right: $space-xs;
  top: $space-xs;

  @include sm {
    right: $space-sm;
    top: $space-sm;
  }

}

.filter-list {
  // float: right;
  text-align: right;
}

.page-filter{
  display: none !important;

  &.explore-open{
    display: inline-block !important;

    &.lightbox-open{
        filter: blur($blur-extra);
        pointer-events: none;
      }
  }

  @include sm {
    display: inline-block !important;
  }
}

.ui-pill {
  height: $space-sm;
  padding: 12px;
  margin-bottom: 12px;
  font-size: $text-xs;
  font-family: $font-secondary;
  text-align: center;
  border-radius: $space-sm;
  color: $color-dark;
  background: $color-light;
  display: inline-block;

  &.ui-pill-black {
    color: $color-light;
    background: $color-dark;
    float: right;
    margin-left: 12px;
  }

  &:hover {
      color: $color-light;
      background: $color-dark;
    }

}
