.info {
  z-index: 10;
  position: absolute;
  width: $info-width-xs;
  margin-left: $space-sm;
  @include sm {
    width: $info-width-sm;
  }

  @include md {
    width: $info-width-md;
    max-width: $info-width-max-md;
  }
}

.explore {
  z-index: 0;
  position: absolute;
  margin-left: $space-sm;
}

//
.explore-item {
  width: 25%;
  // float: left;
  padding: $space-lg $space-sm;
}

.item-6 {
  width: 66.66%;
}

.item-4 {
  width: 25%;
}

.item-3 {
  width: 33.33%;
}

.item-2 {
  width: 50%;
}
