.info {
  z-index: 10;
  position: absolute;
  width: $info-width-xs;
  margin-left: $space-sm;
  @include sm {
    width: $info-width-sm;
  }

  @include md {
    width: $info-width-md;
    max-width: $info-width-max-md;
  }
}

.explore {
  z-index: 0;
  position: absolute;
  margin-left: $space-sm;
}

//
.explore-item {
  width: 25%;
  float: left;
  padding: $space-sm;
}

.sidebar {
  width: 36px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #000;
  position: fixed;
  z-index: 12;
  writing-mode: sideways-lr;
  text-align: center;
  padding-left: 12px;
}

// .sidebar-title {
//   background: #ccc;
//   writing-mode: sideways-lr;
//   text-align: center;
// }