.nav,
.footer {
 width: 100%;
 position: relative;
 z-index: 1002;

  .inner {
    width: 100%;
   padding: $space-xs;
  }

  p,
  {
    font-size: $text-sm;
  }

  a {

    &.active {
      // border-bottom: $border-base;
    }

    &:hover {

    }
  }
}
