
// Filter styling


.pill-container {
  position: fixed;
  z-index: 10;
  right: $space-xs;
  top: $space-xs;
  margin-left: $space-xs;
  text-align: right;

  @include sm {
    right: $space-sm;
    top: $space-sm;
  }
}

.filter-list {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.page-filter{
  display: none !important;
  cursor: pointer;
  &.exploreOn{
    display: inline-block !important;
  }
  @include sm {
    display: inline-block !important;
  }
  // &:hover {
  //   &::after {
  //     content: "Reset filters";
  //   }
  //   span {
  //     display: none;
  //   }
  // }

  &.disable-hover {
    cursor: default;
  }

  &:not(.disable-hover) {
    &:hover {
      &::after {
        content: "Reset filters";
      }
      span {
        display: none;
      }
    }
  }

}

.ui-pill {
  font-size: $text-xs-xs;
  padding: $space-xxs;
  line-height: 1;

  @include sm {
    font-size: $text-xs;
  }

  @include xl {
    font-size: $text-xl-xs;
    padding: $space-xs;
  }
  
  margin-left: $space-xxs / 2;
  margin-bottom: $space-xxs;
  font-family: $font-secondary;
  text-align: center;
  border-radius: $space-sm;
  color: $color-dark;
  background: $color-light;
  display: inline-block;

  &.ui-pill-black, &.is-checked {
    color: $color-light;
    background: $color-dark;
  }

  &:hover {
    color: $color-light;
    background: $color-dark;
  }

}

.ui-pill-label {
  pointer-events: none;
}

ul.sub-menu {
  cursor: pointer;
  li {
    float: right;
    &:first-of-type {
      background: $color-gray;
      &:hover, &.is-checked {
        color: $color-base;
      }
    }
    &:not(:first-of-type) {
      display: none;
    }
  }
  &:hover {
    li:not(:first-of-type) {
      display: inline-block;
    }
  }
}

div.titles span{
  &:empty {
    display:none;
  }
  &:not(:empty)::before {
    content: ' ';
    white-space: pre;
  }
}

span#title-years:not(:empty)::before{
  content: 'in ';
  white-space: pre;
}

span#title-sections::before{
  content: '';
}
