/* ////////////////////////////////////////////////
Typogrpahy
*/
////////////////////////////////////////////////
// Mixins
// Edit default font appearance here
@mixin primary {
  font-family: $font-primary;
}
@mixin primary-italic {
  font-family: $font-primary-italic;
}
@mixin secondary {
  font-family: $font-secondary;
}
@mixin secondary-heavy {
  font-family: $font-secondary-heavy;
}
@mixin tertiary {
  font-family: $font-tertiary-pixel;
}
@mixin tertiary-italic {
  font-family: $font-tertiary-expressive;
}

body {
  @include primary;
  color: $color-base;
  font-size: $text-base;
  line-height: $text-line-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  em {
    @include primary-italic;
  }

  b,
  strong {
    @include secondary-heavy;
  }

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  * {
    font-weight: normal;
    font-style: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include secondary;
  letter-spacing: $text-letter-base;
  line-height: $text-line-base;
  color: $color-base;
  margin: 0;
  padding: 0;
  text-transform: none;
}

h1 {
  font-size: $text-xs-xxl;
  @include sm {
    font-size: $text-xxl;
  }
  @include xl {
    font-size: $text-xl-xxl;
  }
}

h2 {
  font-size: $text-xs-xl;
  @include sm {
    font-size: $text-xl;
  }
  @include xl {
    font-size: $text-xl-xl;
  }
}

h3 {
  font-size: $text-xs-lg;
  @include sm {
    font-size: $text-lg;
  }
  @include xl {
    font-size: $text-xl-lg;
  }
}

h4 {
  font-size: $text-xs-md;
  @include sm {
    font-size: $text-md;
  }
  @include xl {
    font-size: $text-xl-md;
  }
}

h5 {
  font-size: $text-xs-sm;
  @include sm {
    font-size: $text-sm;
  }
  @include xl {
    font-size: $text-xl-sm;
  }
}

h6 {
  font-size: $text-xs-xs;
  @include sm {
    font-size: $text-xs;
  }
  @include xl {
    font-size: $text-xl-xs;
  }
}

hr {
  margin: $space-sm 0;
  background: $hr-border-color;
  height: $hr-border-width;
  border-top: 0;
  width: 100%;

  &.spacer {
    background: none;
  }
}

li,
p {
  @include secondary;
  letter-spacing: $text-letter-md;
  line-height: $text-line-md;
  color: $color-base;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: $text-xs-sm;
  @include sm {
    font-size: $text-sm;
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-position: inside;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    outline: 0;
    color: inherit;
    text-decoration: none;
  }
}

blockquote {
  @include primary-italic;
  padding: 0;
  margin: 0;
}

code,
pre {
  @include tertiary;
  color: $color-base;
}

pre {
  background: $color-gray;
  width: 100%;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;

  * {
    @include tertiary;
    text-align: left;
  }

  tr {
    height: $space-md;
  }
}
/* ////////////////////////////////////////////////
T-SET
`.t-set`
*/
////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  &.t-set {
    @include secondary;
    line-height: $text-line-sm;
  }
}

h1 {
  &.t-set {
    margin-bottom: $space-xs;
    font-size: $text-xs-xxl;
    @include sm {
      font-size: $text-xxl;
    }
    @include xl {
      font-size: $text-xl-xxl;
    }
  }
}

h2 {
  &.t-set {
    margin-bottom: $space-xxs;
    font-size: $text-xs-xl;
    @include sm {
      font-size: $text-xl;
    }
    @include xl {
      font-size: $text-xl-xl;
    }
  }
}

h3 {
  &.t-set {
    font-size: $text-xs-lg;
    @include sm {
      font-size: $text-lg;
    }
    @include xl {
      font-size: $text-xl-lg;
    }
  }
}

h4 {
  &.t-set {
    font-size: $text-xs-md;
    line-height: $text-line-md;
    @include sm {
      font-size: $text-md;
    }
    @include xl {
      font-size: $text-xl-md;
    }
  }
}

h5 {
  &.t-set {
    font-size: $text-xs-sm;
    @include sm {
      font-size: $text-sm;
    }
    @include xl {
      font-size: $text-xl-sm;
    }
  }
}

h6 {
  &.t-set {
    font-size: $text-xs-xxs;
    line-height: $text-line-md;
    @include sm {
      font-size: $text-xxs;
    }
    @include xl {
      font-size: $text-xl-xxs;
    }
  }
}

p {
  &.t-set {
    margin-bottom: $space-sm;
  }
}

li {
  &.t-set {
    margin-bottom: 0;
  }
}

li,
p {
  &.t-set {
    @include primary;
    // @extend .t-hyphenate; // use browser hyphenation on all p text
    font-size: $text-xs-sm;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    @include sm {
      font-size: $text-sm;

      -webkit-hyphens: none;
      -ms-hyphens: none;
      -moz-hyphens: none;
      hyphens: none;
    }
    @include xl {
      font-size: $text-xl-sm;
    }
    letter-spacing: $text-letter-base;
    line-height: $text-line-lg;

    > a {
      border-bottom: 1px solid $color-base;

      &:active,
      &:target {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $color-base;
      }

      &:visited {
        border: 0;
        text-decoration: line-through;
        color: inherit;
      }
    }
  }
}

ol,
ul {
  &.t-set {
    margin-bottom: 0;

    ol,
    ul {
      margin-left: $space-md;
    }
  }
}

ol {
  &.t-set {
    list-style: decimal;

    ol {
      li {
        list-style: lower-roman;
      }
    }

    ul {
      li {
        list-style: disc;
      }
    }
  }
}

ul {
  &.t-set {
    list-style: disc;

    ol {
      li {
        list-style: decimal;
      }
    }

    ul {
      li {
        list-style: circle;
      }
    }
  }
}

a {
  &.t-set {
    text-decoration: none;
  }
}

blockquote {
  &.t-set {
    @include secondary-heavy;
    font-size: $text-md;
    padding: $space-md;
  }
}

hr {
  &.t-set {
    height: $hr-border-width;
    width: 100%;
    border-top: 0;
    margin: $space-xs 0;
    @include sm {
      margin: $space-sm 0;
    }
  }
}

.t-set {
  img {
    margin: $space-sm 0;
    max-width: 100%;
    width: 100%;
  }

  small {
    font-size: 80%;
  }

  sup {
    @include secondary;
    margin-left: 6px;
    font-size: 40%;
    vertical-align: super;

    a {
      text-decoration: none;
    }
  }

  table {
    margin: $space-md 0;

    thead {
      border-top: $border-sm;
      border-bottom: $border-sm;
    }

    tbody {
      border-bottom: $border-sm;
    }

    tr {
      height: $space-md;
      border-bottom: $border-sm;
    }

    td,
    th {
      border-right: $border-sm;
      padding: $space-xs;

      &:last-child {
        border-right: none;
      }
    }
  }

  h1 {
    @extend .t-set;
  }

  h2 {
    @extend .t-set;
  }

  h3 {
    @extend .t-set;
  }

  h4 {
    @extend .t-set;
  }

  h5 {
    @extend .t-set;
  }

  h6 {
    @extend .t-set;
  }

  li,
  p {
    @extend .t-set;
  }

  ol {
    @extend .t-set;
  }

  ul {
    @extend .t-set;
  }

  a {
    @extend .t-set;
  }

  blockquote {
    @extend .t-set;
  }

  hr {
    @extend .t-set;
  }
}
/* ////////////////////////////////////////////////
T-SET + T-READING
`.t-set.t-reading`
*/
////////////////////////////////////////////////

.t-reading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }

  h1 {}

  h2 {}

  h3 {}

  h4 {}

  h5 {}

  h6 {}

  p {
    margin-bottom: $space-sm;

    &:last-of-type {
      margin-bottom: 0;
    }

    em {
      @include primary-italic;
    }

    strong {
      @include tertiary;
    }

    em strong {
      @include tertiary;
    }
  }

  em {
    @include primary-italic;
  }

  strong {
    @include secondary-heavy;
  }

  em strong {
    @include secondary-heavy;
  }

  ol,
  ul {
    margin-bottom: $space-sm;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  a {
    text-transform: uppercase;
  }

  blockquote {
    font-size: $text-lg;
  }
}
// typographic helpers
.t-disabled {
  color: $color-disabled;

  a {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.t-indented {
  text-indent: $text-md;

  p,
  p & {
    text-indent: $text-md;
  }
}

.t-indented-none .t-indented-0 {
  text-indent: 0;

  p,
  p & {
    text-indent: 0;
  }
}
// helper classes for fonts
// do not edit

.font-primary {
  @include primary;
}

.font-primary-italic {
  @include primary-italic;
}

.font-secondary {
  @include secondary;
}

.font-secondary-heavy {
  @include secondary-heavy;
}

.font-tertiary {
  @include tertiary;
}

.font-tertiary-italic {
  @include tertiary-italic;
}
