---
---

/*
// global variables
*/
$base-unit:                              18px;

$screen-xs-min:                          0 !default;
$screen-sm-min:                          576px !default;
$screen-md-min:                          768px !default;
$screen-lg-min:                          1200px !default;
$screen-xl-min:                          1500px !default;
$screen-xxl-min:                         1800px !default;

// grid
$grid-columns:                           12 !default;
$grid-gutter-width:                      36px !default;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: $screen-xs-min,
  // Small screen / phone
  sm: $screen-sm-min,
  // Medium screen / tablet
  md: $screen-md-min,
  // Large screen / desktop
  lg: $screen-lg-min,
  // Extra large screen / wide desktop
  xl: $screen-xl-min,
  // Jumbotron
  xxl: $screen-xxl-min
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// fonts
$font-primary:                           "'Suisse Works Regular', 'Times New Roman'";
$font-primary-italic:                    "'Suisse Works Regular', 'Times New Roman'";
$font-primary-heavy:                     $font-primary-italic;
$font-secondary:                         "'Suisse International Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-secondary-heavy:                   "'Suisse International Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-tertiary:                          "'America Mono Regular Web', Courier";
$font-tertiary-italic:                   "'America Mono Regular Italic Web', Courier";

// type sizes
$text-base:                              18px !default;
$text-xxs:                               12px !default;
$text-xs:                                12px !default;
$text-sm:                                $text-base !default;
$text-md:                                30px !default;
$text-lg:                                42px !default;
$text-xl:                                75px !default;
$text-xxl:                               96px !default;

// mobile sizes
$text-xs-xxs:                            13px !default;
$text-xs-xs:                             $text-base !default;
$text-xs-sm:                             30px !default;
$text-xs-md:                             40px !default;
$text-xs-lg:                             60px !default;
$text-xs-xl:                             70px !default;
$text-xs-xxl:                            80px !default;

// variable type sizes
$text-v-base:                            2vw;
$text-v-xs:                              6vw;
$text-v-sm:                              8vw;
$text-v-md:                              $text-v-base;
$text-v-lg:                              10vw;
$text-v-xl:                              12vw;

// line height
$text-line-base:                         1.0;
$text-line-xs:                           0.9 !default;
$text-line-sm:                           $text-line-base !default;
$text-line-md:                           1.25 !default;
$text-line-lg:                           1.5 !default;
$text-line-xl:                           2.0 !default;

// letterspacing
$text-letter-base:                       0;
$text-letter-xs:                         -.01em;
$text-letter-sm:                         $text-letter-base;
$text-letter-md:                         .03em;
$text-letter-lg:                         .05em;
$text-letter-xl:                         .1em;

// spacing
$space-base:                             36px;
$space-xxs:                              5px;
$space-xs:                               10px !default;
$space-sm:                               $space-base !default;
$space-md:                               50px !default;
$space-lg:                               75px !default;
$space-xl:                               100px !default;
$space-xxl:                              200px !default;

// spacing – new (Bootstrap)
// override bootstrap spacers
// $spacer:               25px !default;
// $spacer-1:             5px;
// $spacer-2:             10px;
// $spacer-3:             25px;
// $spacer-4:             50px;
// $spacer-5:             75px;
// $spacer-6:             100px;

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($space-xxs),
  2: ($space-xs),
  3: ($space-sm),
  4: ($space-md),
  5: ($space-lg),
  6: ($space-xl),
  7: ($space-xxl)
), $spacers);

// color
$color-base:                             #000000;
$color-brand:                            #ffeb0b;
$color-brand-secondary:                  #f1fff3;
$color-gray:                             #e3e7e1;
$color-dark:                             #000000;
$color-mid:                              gray;
$color-light:                            #ffffff;
$color-disabled:                         $color-gray;
$color-alert:                            red;

// borders
$border-base:                            1px solid $color-base;
$border-sm:                              $border-base;
$border-md:                              2px solid $color-base;
$border-lg:                              5px solid $color-base;

/*
// project variables
*/
$image-filepath:                         "images/";

$t-color-children:                       "p, li, a, h1, h2, h3, h4, h5, h6, span";

$gutter:                                 $space-base;
$layout-outer:                           $gutter * 2;
$nav-height:                             $space-xl;

$info-width-xs:                          100%;
$info-width-sm:                          75%;
$info-width-md:                          50%;
$info-width-max-md:                      600px;

$blur-full:                              10px;
$blur-hover:                             3px;

/*
// imports
*/
@import "../_sass/_lib/bootstrap/bootstrap";
@import '../_sass/_lib/v0/v0';

@import '../_sass/tests';
@import '../_sass/mixins';
@import '../_sass/loader';
@import '../_sass/cursors';
@import '../_sass/fonts';
@import '../_sass/type';
@import '../_sass/color';
@import '../_sass/media';
@import '../_sass/layout';
@import '../_sass/nav';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
}

body {
  background-color: $color-brand-secondary;
  position: relative;
  min-height: 100vh;
  @include cursor-default;

  .touch & {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }
}

.sv-badge {
  display: none !important;
}

::selection {
  background: $color-mid;
}


/*
// A couple of dumb classes
// move these into partials
*/

.text-outline {
  color: $color-light !important;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $color-base;
}

.bg-light {
  background: $color-light;
}

.blur-full {
  filter: blur(10px);
}

.blur-hover {
  filter: blur(3px);

  * {
    filter: blur(3px);
  }

  img {
    filter: blur(3px);
  }
}

.blur-none, .blur-0 {
  filter: blur(0);

  * {
    filter: blur(0);
  }
}

.ui-arrow {
  width: 0px;
  height: 0px;
  float: right;
  display: inline-block;
  border-top: 18px solid $color-dark;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;

  &:hover {
    border-top: 18px solid $color-brand;
    cursor: pointer;
  }
}


.explore {
  filter: blur($blur-full);

  &:hover {
    filter: blur($blur-hover);
  }
}

.ui-pill-black {
  height: $space-sm;
  padding: 12px;
  font-size: $text-xs;
  font-family: $font-secondary;
  text-align: center;
  border-radius: $space-sm;
  // width: 200px;
  right: $space-sm;
  top: $space-sm;
  position: fixed;
  z-index: 10;
  color: $color-light;
  background: $color-dark
}