{% include 'nav' %}
<div class="layout test-color">

  <div class="container example">
    <div class="row">
      <div class="col">
        <h1 class="u-mbmd">Color</h1>
      </div>
    </div>
  </div>


  <div class="container example">
    <div class="row">
      <div class="col">

        <div class="colorway-dark">
          <p>car</p>
        </div>
        <div class="colorway-light">
          <p>car</p>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <div class="container example">
    <div class="row">
      <div class="col">

        <div class="u-color-gray mb-2 b-t" style="height: 300px; width: 300px;"><pre>.b-t</pre></div>
        <div class="u-color-gray mb-2 b-r" style="height: 300px; width: 300px;"><pre>.b-r</pre></div>
        <div class="u-color-gray mb-2 b-b" style="height: 300px; width: 300px;"><pre>.b-b</pre></div>
        <div class="u-color-gray mb-2 b-l" style="height: 300px; width: 300px;"><pre>.b-l</pre></div>

      </div>

      <div class="col">

        <div class="u-color-gray mb-2 b-t-md" style="height: 300px; width: 300px;"><pre>.b-t-md</pre></div>
        <div class="u-color-gray mb-2 b-r-md" style="height: 300px; width: 300px;"><pre>.b-r-md</pre></div>
        <div class="u-color-gray mb-2 b-b-lg" style="height: 300px; width: 300px;"><pre>.b-b-lg</pre></div>
        <div class="u-color-gray mb-2 b-l-lg" style="height: 300px; width: 300px;"><pre>.b-l-lg</pre></div>

      </div>
    </div>
  </div>

</div>
