/* ////////////////////////////////////////////////
Typogrpahy
*/ ////////////////////////////////////////////////


// Mixins
// Edit default font appearance here
@mixin primary {
  font-family: $font-primary;
}

@mixin primary-italic {
  font-family: $font-primary-italic;
}

@mixin secondary {
  font-family: $font-secondary;
}

@mixin secondary-heavy {
  font-family: $font-secondary-heavy;
}

@mixin tertiary {
  font-family: $font-tertiary;
}

@mixin tertiary-italic {
  font-family: $font-tertiary-italic;
}

body {
  @include primary;
  color: $color-base;
  font-size: $text-base;
  line-height: $text-line-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  em {
    @include primary-italic;
  }

  b, strong {
    @include secondary-heavy;
  }

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  * {
    font-weight: normal;
    font-style: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, {
  @include secondary;
  letter-spacing: $text-letter-base;
  line-height: $text-line-base;
  font-size: $text-lg;
  color: $color-base;
  margin: 0;
  padding: 0;
  text-transform: none;
}

p,
li {
  @include primary;
  letter-spacing: $text-letter-md;
  line-height: $text-line-md;
  font-size: $text-sm;
  color: $color-base;
  margin: 0;
  padding: 0;
  text-transform: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-position: inside;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus,
  &:visited,
  &:hover {
    outline: 0;
    color: inherit;
    text-decoration: none;
  }
}

blockquote {
  @include primary-italic;
  padding: 0;
  margin: 0;
}

code,
pre {
  @include tertiary;
  color: $color-base;
}

pre {
  background: $color-gray;
  width: 100%;
  overflow-x: scroll;
}

hr {
  background: transparent;
  border-top: $border-base;
}

table {
  width: 100%;
  border-collapse: collapse;

  * {
    @include tertiary;
    text-align: left;
  }

  tr {
    height: $space-md;
  }
}

/* ////////////////////////////////////////////////
T-SET
`.t-set`
*/ ////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  &.t-set {
    @include primary;
    line-height: $text-line-sm;
  }
}

h1 {
  &.t-set {
    font-size: $text-xxl;

    @include sm {
      font-size: $text-xs-xxl;
    }
  }
}

h2 {
  &.t-set {
    font-size: $text-xl;

    @include sm {
      font-size: $text-xs-xl;
    }
  }
}

h3 {
  &.t-set {
    font-size: $text-lg;

    @include sm {
      font-size: $text-xs-lg;
    }
  }
}

h4 {
  &.t-set {
    font-size: $text-md;

    @include sm {
      font-size: $text-xs-md;
    }
  }
}

h5 {
  &.t-set {
    font-size: $text-sm;

    @include sm {
      font-size: $text-xs-xxl;
    }
  }
}

h6 {
  &.t-set {
    font-size: $text-xxs;

    @include sm {
      font-size: $text-xs-xxl;
    }
  }
}

p,
li {
  &.t-set {
    @extend .t-hyphenate;
    font-size: $text-base;
    letter-spacing: $text-letter-base;
    line-height: $text-line-base;

    @include from(2000px) {
      font-size: 100px;
    }

    > a {
      border-bottom: 1px solid $color-base;

      &:active,
      &:target {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
      }

      &:visited {
        border: 0;
        text-decoration: line-through;
        color: inherit;
      }
    }
  }
}

ol, ul {
  &.t-set {
    margin-bottom: 0;

    ol, ul {
      margin-left: $space-md;
    }
  }
}

ol {
  &.t-set {
    list-style: decimal;

    ol {

      li {
        list-style: lower-roman;
      }
    }

    ul {

      li {
        list-style: disc;
      }
    }
  }
}

ul {
  &.t-set {
    list-style: disc;

    ol {

      li {
        list-style: decimal;
      }
    }

    ul {

      li {
        list-style: circle;
      }
    }
  }
}

a {
  &.t-set {
    text-decoration: none;
  }
}

blockquote {
  &.t-set {
    @include secondary-heavy;
    font-size: $text-md;
    padding: $space-md;
  }
}

hr {
  &.t-set {
    margin: $space-md 0;
    background: transparent;
    border-top: $border-md;
  }
}

.t-set {

  img {
    margin: $space-md 0;
    max-width: 100%;
    width: 100%;
  }

  small {
    font-size: 80%;
  }

  sup {
    @include secondary;
    margin-left: 6px;
    font-size: 40%;
    vertical-align: super;

    a {
      text-decoration: none;
    }
  }

  table {
    margin: $space-md 0;

    thead {
      border-top: $border-sm;
      border-bottom: $border-sm;
    }

    tbody {
      border-bottom: $border-sm;
    }

    tr {
      height: $space-md;
      border-bottom: $border-sm;
    }

    th, td {
      border-right: $border-sm;
      padding: $space-xs;

      &:last-child {
        border-right: none;
      }
    }
  }

  h1 {@extend h1.t-set;}
  h2 {@extend h2.t-set;}
  h3 {@extend h3.t-set;}
  h4 {@extend h4.t-set;}
  h5 {@extend h5.t-set;}
  h6 {@extend h6.t-set;}
  p, li {@extend p.t-set;}
  ol {@extend ol.t-set;}
  ul {@extend ul.t-set;}
  a {@extend a.t-set;}
  blockquote {@extend blockquote.t-set;}
  hr {@extend hr.t-set;}
}

/* ////////////////////////////////////////////////
T-SET + T-READING
`.t-set.t-reading`
*/ ////////////////////////////////////////////////

.t-reading {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  h5 {
  }

  h6 {
  }

  p {
    margin-bottom: $space-sm;

    &:last-of-type {
      margin-bottom: 0;
    }

    em {
      @include primary-italic;
    }

    strong {
      @include tertiary;

    }

    em strong {
      @include tertiary;
    }
  }

  em {
    @include primary-italic;
  }

  strong {
    @include secondary-heavy;
  }

  em strong {
    @include secondary-heavy;
  }

  ul,
  ol {
    margin-bottom: $space-sm;

    ul, ol {
      margin-bottom: 0;
    }
  }

  a {
    text-transform: uppercase;
  }

  blockquote {
    font-size: $text-lg;
  }
}

// typographic helpers
.t-disabled {
  color: $color-disabled;

  a {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.t-indented {
  text-indent: $text-md;

  p,
  p & {
    text-indent: $text-md;
  }
}

.t-indented-none
.t-indented-0 {
  text-indent: 0;

  p,
  p & {
    text-indent: 0;
  }
}

// helper classes for fonts
// do not edit
.font-primary {@include primary;}
.font-primary-italic {@include primary-italic;}
.font-secondary {@include secondary;}
.font-secondary-heavy {@include secondary-heavy;}
.font-tertiary {@include tertiary;}
.font-tertiary-italic {@include tertiary-italic;}
