<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html class="no-js"> <!--<![endif]-->

{% include _head.html %}

  <body class="preload js-body with-mask">

      <div class="container-fluid">
        <div class="row">
          <div class="col-6 b-r bg-light">

            <div class="row">
              {% include _nav.html %}
            </div>

            <div class="row t-set">
            {% include _apply.html %}
            </div>

            <div class="row">
            {% include _footer.html %}
            </div>   

          </div>

          <div class="col-6">
            {% for post in site.posts %}
            <div class="col-6 col-offset-2 u-mtmd u-mbmd">
              {{ post.excerpt }}
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
      
    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>