<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html class="no-js"> <!--<![endif]-->

{% include _head.html %}

  <body class="preload js-body with-mask" id="current-page-title">

    <div class="sidebar">
      <div class="sidebar-title"><h6>Parsons MPS Communication Design Digital Product Design</h6></div>
    </div>

    <div class="ui-pill-black">{{ page.title }}</div>
    <div class="explore">
      <div class="explore-items">
        {% for post in site.posts %}
          {% for image in post.images %}
            <div class="explore-item -col-6 -col-offset-2 u-mtmd u-mbmd">
              <img src="{{ site.data.filepaths.desktop }}{{ image.src }}" alt="{{ image.alt }}" data-caption="{{ image.caption }}" data-creator="{{ image.creator }}">
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>
