<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html class="no-js"> <!--<![endif]-->

{% include _head.html %}

  <body class="preload js-body with-mask" id="current-page-title">

    <div class="info">
      <div class="container-fluid">
        <div class="row">

          <div class="info-content b-r bg-light">
            <div class="col">

              <div class="row">
                {% include _nav.html %}
              </div>

              <div class="row t-set">
                <!-- check for content conditionally -->
                {% include _home.html %}
              </div>

              <div class="row">
                {% include _footer.html %}
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="explore">
      <div class="explore-items">
        {% for post in site.posts %}
          <div class="explore-item -col-6 -col-offset-2 u-mtmd u-mbmd">
            {{ post.excerpt }}
          </div>
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>
